.Dndarea {
  border: 2px dashed #b7b7b7;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 10px;
}

.Dndtitle {
  font-size: 1.5rem;
  line-height: 1.34;
  letter-spacing: 0.01rem;
}
