* {
  font-family: 'Helvetica';
}

body {
  background: #f9fcff;
}

h2 {
  font-size: 18px;
  line-height: 3.33;
  letter-spacing: 4.46px;
  color: #f7b500;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
  width: 544px;
  font-weight: normal;
  text-align: center;
  color: #6e6e6e;
}
