* {
  font-family: 'Helvetica';
}

body {
  background: #f9fcff;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
  width: 544px;
  text-align: center;
  color: #6e6e6e;
}

h1 {
  font-family: HelveticaNeue;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  text-align: center;
  color: #131415;
}

h2 {
  font-size: 18px;
  line-height: 3.33;
  letter-spacing: 4.46px;
  text-align: center;
  color: #f7b500;
}
